/*-----------------------HOME------------------------*/
#home_orators {
  height: 600px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('../img/background3.jpg');
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home_orators h2 {
  padding-top: 350px;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}

#home_orators h2::after {
  content: '';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}

#home_orators p {
  padding-top: 250px;
  color: #ffffff;
  font-size: 2em;
}

@media screen and (max-width: 840px) {
  #home_orators h2 {
    padding-top: 90px;
    font-size: 1.5em;
  }

  #home_orators {
    height: 200px;
  }
}

/*--------------------------ORATORS---------------------*/
#orators-list {
  height: auto;
  padding-bottom: 6%;
}

.orators-container {
  display: flex;
  margin-top: 6%;
  justify-content: center;
}
#c-top{
  margin-top: 10%;
}

.orator {
  margin: 0 5%;
  width: auto;
  position: relative;
  text-align: center;
}

.orator img {
  width: 20vw;
  transition: 0.3s ease;
  border-radius: 5px;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
}

.orator-icon p {
  background-color: #E62B1E;
  padding: 2%;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: #fff;
}

.orator img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

.orator img:hover~.orName, .orator p:hover {
  display: none;
}

#orator-info {
  display: none;
}

.info-bckg {
  background: #000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  z-index: 2;
  top: 0;
}

.info-container {
  position: fixed;
  background: #fff;
  width: 60vw;
  height: auto;
  margin-left: 20vw;
  border-radius: 5px;
  z-index: 10;
  text-align: center;
  top: 25vh;
}

.info-container h2 {
  padding: 5% 5% 0 5%;
}

.info-container p {
  font-weight: lighter;
  padding: 5% 10%;
}

.info-container .out {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.info-container .out:hover {
  opacity: 0.5;
}

.info-container .out:before, .info-container .out:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #E62B1E;
}

.info-container .out:before {
  transform: rotate(45deg);
}

.info-container .out:after {
  transform: rotate(-45deg);
}

#direto-anim {
  width: 15%;
  top: 560px;
  z-index: -1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .orators-container {
    display: block;
    margin-top: 0;
  }
  #c-top{
    margin-top: 28%;
  }

  .orator-icon p {
    font-size: 12px;
  }

  .orator {
    margin: 10% 0;
  }

  .orator img {
    width: 50vw;
  }

  .info-container {
    width: 70vw;
    margin-left: 15vw;
    top: 12vh;
  }

  .info-container h2 {
    font-size: 1em;
  }

  .info-container p {
    font-size: 12px;
  }

  .info-container .out:before, .info-container .out:after {
    height: 13px;
  }

  .info-container .out {
    right: 2%;
    top: 5%;
  }

  #direto-anim {
    width: 25%;
    top: 210px;
  }
}
