/*--------------------------HOME---------------------*/
#home_orators {
  height: 400px;
  background-image: url('../img/background3.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#home_orators h3 {
  color: #ffffff;
  text-align: center;
  padding-top: 140px;
  font-size: 3em;
}

#home_orators h3::after {
  content: '';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}

@media screen and (max-width: 840px) {
  #home_orators h3 {
    font-size: 2em;
  }
}

/*--------------------------ORATORS---------------------*/
#orators-list {
  height: auto;
  padding-bottom: 10%;
}

.orators-container {
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
}

.orator {
  width: auto;
  width: 55%;
  position: relative;
  text-align: center;
}

.orator img {
  width: 55%;
  transition: 0.3s ease;
  border-radius: 5px;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
}

.orator p {
  background-color: #E62B1E;
  padding: 2%;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.orName{
  display: none;
}

.orator img:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

.orator img:hover ~ .orName, .orator p:hover {
  display: block;
}
