/*-----------------------HOME------------------------*/
#part_home {
  height: 400px;
  background:
  linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
  url('../img/partback.jpg');
  background-position: right;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#part_home h2 {
  padding-top: 150px;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}
#part_home h2::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
#part_home p {
  padding-top: 250px;
  color: #ffffff;
  font-size: 2em;
}
@media screen and (max-width: 840px) {
  #part_home h2 {
      padding-top: 90px;
    font-size: 1.5em;
  }
  #part_home {
    height: 200px;
  }
}
/*-----------------------PARTNERS------------------------*/
#partners {
  height: 440px;
}
h3 {
  background: #fff;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
  color: #000;
  font-weight: normal;
  padding: 10px 0;
  text-align: center;
  font-size: 0.5em;
}
.scroll_h {
 overflow: auto;
 overflow-x: hidden;
 width: 100%;
}

::-webkit-scrollbar {
display: none;
}

.c-my-flooper{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  }
.flex-item-start{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.js-flooper2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#nem{
  max-height: 2em;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 5px;
}

#asuc{
  max-height: 50px;
  margin-right: 25vw;
}

#santander{
  max-height: 50px;
  margin-right: 20vw;
  margin-top:2px;
}
#cuf {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
#jek {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 25vw;
}
.inst{
  display: flex;
  justify-content: center;
}
.inst img{
  width: 15vw;
  margin: 0 3vw;
}
#cmc{
  margin-top: 10vh;
}

@media (min-width: 768px){

  .c-my-flooper{
    padding-bottom: 80px;
    width: 100%;
  }
  .js-flooper2 {
    padding-bottom: 20px;
  }
  .js-flooper3 {
    padding-bottom: 20px;
  }
  .js-flooper4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #partners {
    height: 840px;
  }

  h3 {
    font-size: 1.2em;
  }

  #nem{
    max-height: 100px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 40px;
  }

  #asuc{
    max-height: 210px;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  #santander{
    max-height: 180px;
    margin-left: 10vw;
  }
  #cuf {
    padding-top: 40px;
    max-height: 100px;
    padding-bottom: 60px;
  }
}
