
/*----------------------HOME------------------------*/
#home {
  height: 860px;
  background-image: url('../img/background2.jpg');
  background-position: center;
  background-size: cover
}

#home img{
  width: 32%;
  position: absolute;
  bottom: 0%;
  left: 2%;
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  #home {
    height: 550px;
  }
}


/*----------------------ABOUT------------------------*/
#about {
  height: auto;
  padding: 5vh 0 10vh 0;
  background: #000;
}
#about h3 {
  padding: 2%;
}
#about p{
  padding: 0 2% 2% 2%;
}
#about .text {
  width: 80vw;
  height: auto;
  margin: 10vh 10vw;
  background: #fff;
  border-radius: 5px;
  box-shadow: 4px 2px 16px rgba(100, 100, 100, 0.48), -4px -2px 16px #202020;
}
#about .sec {
  display: none;
}

@media screen and (max-width: 1200px) {
  #about .text {

  }
  #about .sec {
    display: inherit;
  }
  #about .fir {
    display: none;
  }
}
@media screen and (max-width: 580px) {
    #about .text {

    }
  }
@media screen and (max-width: 320px) {
  #about .text {

  }
}

/*----------------------NEWS------------------------*/
#news {
  background-color: #000000;
}
.new {
  position: relative;
}
.news_text {
  color: #ffffff;
  position: absolute;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.8);
  padding: 40px 40px 40px 40px;
  border-radius: 5px;
  margin-left: -5px;
  top: 400px;
}
.news_text p {
  font-weight: lighter;
}
.news_text p::after {
  content:'';
  display: block;
  height: 2px;
  width: 100px;
  background-color: #E62B1E;
  position:static;
  top: 3.5px;
  margin-top: 10px;
}
@media screen and (max-width: 1400px) {
  .news_text {
    top: 300px;
  }
}
@media screen and (max-width: 980px) {
  .news_text {
    top: 200px;
  }
}
@media screen and (max-width: 840px) {
  .news_text {
    font-size: 14px;
    top: 150px;
      padding: 20px 20px 20px 20px;
  }
}
@media screen and (max-width: 640px) {
  .news_text {
    top: 0;
    font-size: 12px;
  }
}
