
*{
  margin:0;
  padding:0;
  font-family: Helvetica;
}
/*-----------------------HOME------------------------*/
#team_home {
  height: 300px;
  background-color: #000000;
  /*background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team_home h3 {
  padding-top: 150px;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}
#team_home h3::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
#team_home p {
  padding-top: 250px;
  color: #ffffff;
  font-size: 2em;
}


/*-----------------------INFO------------------------*/
#info {
  height: 300px;
  background: #ffffff;
}
.info {
  padding: 80px 60px 60px 60px;
}
#info p {
  color: #000000;
  font-weight: lighter;
  font-size: 1em;
}
@media screen and (max-width: 1200px) {
  #info {
    height: 400px;
    font-size: 14px;
  }
}
@media screen and (max-width: 880px) {
  .info {
    padding: 100px 20px 0 20px;
  }
}
@media screen and (max-width: 600px) {
  #info {
    height: 450px;
  }
  .info {
    padding-top: 20px;
  }
}



/*-----------------------MEMBROS------------------------*/

#members {
  height: 1700px;
  background-color:#E62B1E;
}
#members h1 {
  text-align: center;
  font-size: 2em;
  padding-top: 60px;
}
#members h2 {
  font-size:14px;
  color: #ffffff;
}
#members h3 {
  font-size: 14px;
  color: #000000;
}
.container_members1 {
  padding-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.member {
  margin-left: 3em;
  margin-right: 3em;
}
.container_members2 {
  padding-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.member2 {
  margin-left: 2em;
  margin-right: 2em;
}
.container_members3{
  padding-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.member3 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
@media screen and (max-width: 1200px) {
  #members {
    height: 7100;
  }
  .container_members1 {
    display: block;
  }
  .member {
    padding-top: 20px;
  }
  .container_members2 {
    display: block;
  }
  .member2 {
    padding-top: 20px;
  }
  .container_members3{
    display: block;
  }
  .member3 {
    padding-top: 20px;
  }
  #members h1 {
    font-size: 1.5em;
  }
}





/*-----------------------FOOTER------------------------*/
#footer {
  background-color: #000000;
  height: 180px;
  border-top: 6px solid #E62B1E;
}
.container_contact {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: lighter;
  color: #ffffff;
}
.left {
  padding: 32px 0px 0px 180px;
}
.right {
  padding: 32px 180px 0px 0px;
}
.right p {
  padding-top: 60px;
}
.right img{
  float: right;
}
.container_credit {
  font-size: 10px;
  font-weight: lighter;
  color: #ffffff;
  padding-left: 180px;
  padding-top: 10px;
  padding-right: 180px;
}
.container_credit p {
  text-align: right;
  width: 100%;
  border-top: 1px solid #FFFFFF;
  padding-top: 5px;
}
.contact_mobile {
  display: none;
  justify-content: space-around;
  padding: 40px 20px 0 20px;
}
.contact_mobile p {
  font-size: 12px;
  font-weight: lighter;
  padding: 20px 50px 0 50px;
  color: #ffffff;
}
@media screen and (max-width: 840px) {
  .left {
    padding: 30px 0px 0px 30px;
  }
  .right {
    padding: 30px 30px 0px 0px;
  }
  .right p{
    padding-left: 80px;
  }
  .container_credit {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 600px) {
  .contact_mobile {
    display: flex;
  }
  .container_contact {
    display: none;
  }
  .container_credit {
    padding-left: 20px;
    padding-right: 20px;
  }
  .right img {
    padding-right: 60px;
  }
}
@media screen and (max-width: 400px) {
  .rightM {
    display: none;
  }
  .contact_mobile p {
      padding: 8px 10px 0 50px;
  }
}
