/*-----------------------HOME------------------------*/
#anemia_home {
  height: auto;
  padding-top: 50px;
  background-color: #ffffff;
}
.pdf1 object{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
.pdf2 object{
  display: none;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}
.mobile {
  padding-top: 140px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo_anemia {
  display: none;
}
.download_btn {
  margin-top: 40px;
  display: none;
}
.mobile a {
  color: #ffffff;
  text-decoration: none;
  background-color: #E62B1E;
  text-align: center;
  padding: 15px 30px 15px 30px;
}
.mobile a:hover {
  color: #E62B1E;
  background-color: #ffffff;
}
@media screen and (max-width: 910px) {
  #anemia_home {
    padding-top: 35px;
  }
  .pdf1 object{
    display: none;
  }
  .pdf2 object{
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #anemia_home {
    height: 500px;
  }
  .pdf2 object{
    display: none;
  }
  .logo_anemia {
    display: block;
  }
  .download_btn {
    display: block;
  }
}
