/* Insere aqui o CSS das páginas de erro  */
#error_home {
  height: 800px;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#error_home h3 {
  padding-top: 200px;
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}
