*{
 margin: 0;
 padding: 0;
}
body{
 font-family: Helvetica;
 background-color: #000000;
}
a:link,
a:visited{
 text-decoration: none;
}

/*--------------------------HOME---------------------*/
#home_oradores {
  height: 400px;
  background-image: url('../img/bckgted.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#home_oradores h3{
  color: #ffffff;
  text-align: center;
  padding-top: 140px;
  font-size: 3em;
}
#home_oradores h3::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
.info {
  padding-top: 60px;
  color: #7C7C7C;
  text-align: center;
  font-size: 12px;
  font-weight: lighter;
}
@media screen and (max-width: 840px) {
  #home_oradores h3{
    font-size: 2em;
  }
}

/*--------------------------ORADORES---------------------*/

#oradores_list {
  height: 1400px;
}
.container_oradores {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.nome {
  margin-top: -20px;
  color: #ffffff;
}
.container_oradores h2{
  padding-top: 20px;
  color: #ffffff;
}
.description {
  color: #E62B1E;
  padding-top: 10px;
}
.container_oradores a {
  color: #E62B1E;
}
.container_oradores p {
   font-weight: lighter;
}
/*--------------------------ORADOREES_MOBILE---------------------*/
@media screen and (max-width: 840px) {
  #oradores_list {
    height: auto;
    padding-bottom: 20%;
  }
  .container_oradores {
    display:block;
    font-size: 12px;
  }
  .nome{
    font-size: 1em;
  }
}


/*--------------------------ORADOR_1---------------------*/
.orador_1{
 background-color: #000000;
 width:100vw;
 height: 100vh;
 top: 0;
 position: fixed;
 z-index: 10;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.orador_1content{
 width: 75%;
 height: 500px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.orador_1content img{
 width: 25%;
}
#orador_1:target{
 opacity: 1;
 display: block;
}
#orador_1:target .orador_1content{
 opacity: 1;
 display: block;
}
.orador_1close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_1heading{
 margin-bottom: 1em;
}
.orador_1paragraph{
 line-height: 1.5em;
 color: #ffffff;
}
.orador_1open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_1{
    padding-top: 180px;
  }
  .orador_1content{
   top: 40%;
  }
  .orador_1content img{
   width: 50%;
  }
}



/*--------------------------ORADOR_2---------------------*/
.orador_2{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_2content{
 width: 75%;
 height: 500px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.orador_2content img{
 width: 25%;
}
#orador_2:target{
opacity: 1;
display: block;
}
#orador_2:target .orador_2content{
opacity: 1;
display: block;
}
.orador_2close{
color: #363636;
font-size: 2em;
position: absolute;
top: .5em;
right: 1em;
}
.orador_2heading{
color: dodgerblue;
margin-bottom: 1em;
}
.orador_2paragraph{
line-height: 1.5em;
color: #ffffff;
}
.orador_2open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_2{
    padding-top: 500px;
  }
  .orador_2content {
    top: 28%;
    padding: 0;
  }
  .orador_2content img{
   width: 50%;
  }
  .orador_2paragraph{
   line-height: 1;
 }
}



/*--------------------------ORADOR_3---------------------*/
.orador_3{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_3content{
 width: 75%;
 height: 100%;
 margin-top: 100px;
 background-color: #000000;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.orador_3content img{
 width: 25%;
}
#orador_3:target{
 opacity: 1;
 display: block;
}
#orador_3:target .orador_3content{
 opacity: 1;
  display: block;
}
.orador_3close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_3heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_3paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_3open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_3{
    padding-top: 340px;
  }
  .orador_3content {
    margin-top: 20%;
    padding: 0;
  }
  .orador_3content img{
   width: 50%;
  }
  .orador_3paragraph{
   line-height: 1;
 }
}


/*--------------------------ORADOR_4---------------------*/
.orador_4{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_4content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_4content img{
 width: 25%;
}
#orador_4:target{
 opacity: 1;
 display: block;
}
#orador_4:target .orador_4content{
 opacity: 1;
 display: block;
}
.orador_4close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_4heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_4paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_4open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_4{
    padding-top: 520px;
  }
  .orador_4content {
    margin-top: 20px;
    padding: 0;
  }
  .orador_4content img{
   width: 50%;
  }
  .orador_4paragraph{
   line-height: 1;
 }
}


/*--------------------------ORADOR_5---------------------*/
.orador_5{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_5content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_5content img{
 width: 25%;
}
#orador_5:target{
 opacity: 1;
 display: block;
}
#orador_5:target .orador_5content{
 opacity: 1;
 display: block;
}
.orador_5close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_5heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_5paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_5open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_5{
    padding-top: 650px;
  }
  .orador_5content {
    margin-top: 20px;
    padding: 0;
  }
  .orador_5content img{
   width: 50%;
  }
  .orador_5paragraph{
   line-height: 1;
 }
}




/*--------------------------ORADOR_6---------------------*/
.orador_6{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_6content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_6content img{
 width: 25%;
}
#orador_6:target{
 opacity: 1;
 display: block;
}
#orador_6:target .orador_6content{
 opacity: 1;
 display: block;
}
.orador_6close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_6heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_6paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_6open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_6{
    padding-top: 750px;
  }
  .orador_6content {
    margin-top: 20px;
    padding: 0;
  }
  .orador_6content img{
   width: 50%;
  }
  .orador_6paragraph{
   line-height: 1;
 }
}


/*--------------------------ORADOR_7---------------------*/
.orador_7{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_7content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_7content img{
 width: 25%;
}
#orador_7:target{
 opacity: 1;
 display: block;
}
#orador_7:target .orador_7content{
 opacity: 1;
 display: block;
}
.orador_7close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_7heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_7paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_7open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_7{
    padding-top: 750px;
  }
  .orador_7content {
    margin-top: 40px;
    padding: 0;
  }
  .orador_7content img{
   width: 50%;
  }
  .orador_7paragraph{
   line-height: 1;
 }
}

/*--------------------------ORADOR_9---------------------*/
.orador_9{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_9content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_9content img{
 width: 25%;
}
#orador_9:target{
 opacity: 1;
 display: block;
}
#orador_9:target .orador_9content{
 opacity: 1;
 display: block;
}
.orador_9close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_9heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_9paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_9open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_9 {
    padding-top: 750px;
  }
  .orador_9content {
    margin-top: 40px;
    padding: 0;
  }
  .orador_9content img{
   width: 50%;
  }
  .orador_9paragraph{
   line-height: 1;
 }
}

/*--------------------------ORADOR_11---------------------*/
.orador_11{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_11open img{
  opacity: 0.8;
}
.orador_11content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_11content img{
 width: 25%;
}
#orador_11:target{
 opacity: 1;
 display: block;
}
#orador_11:target .orador_11content{
 opacity: 1;
 display: block;
}
.foto11 {
  padding-top: 40px;
}
.orador_11close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_11heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_11paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_11open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_11 {
    padding-top: 750px;
  }
  .orador_11content {
    margin-top: 50px;
    padding: 0;
  }
  .orador_11content img{
   width: 50%;
  }
  .orador_11paragraph{
   line-height: 1;
 }
}

/*--------------------------ORADOR_12---------------------*/
.orador_12{
  background-color: #000000;
  width:100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_12content{
  width: 75%;
  height: 100%;
  margin-top: 100px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.orador_12content img{
 width: 25%;
}
#orador_12:target{
 opacity: 1;
 display: block;
}
#orador_12:target .orador_12content{
 opacity: 1;
 display: block;
}
.orador_12close{
 color: #363636;
 font-size: 2em;
 position: absolute;
 top: .5em;
 right: 1em;
}
.orador_12heading{
 color: dodgerblue;
 margin-bottom: 1em;
}
.orador_12paragraph{
 line-height: 1.5em;
 color: #fff;
}
.orador_12open{
display: inline-block;
margin: 2em;
}
@media screen and (max-width: 840px) {
  .orador_12 {
    padding-top: 500px;
  }
  .orador_12content {
    margin-top: 40px;
    padding: 0;
  }
  .orador_12content img{
   width: 50%;
  }
  .orador_12paragraph{
   line-height: 1;
 }
}


/*--------------------------PERFORMANCES---------------------*/
#performances {
  height: 700px;
  background-image: url('../img/adbckg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#performances h3{
  color: #000000;
  text-align: center;
  padding-top: 60px;
  font-size: 3em;
}
#performances h3::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
@media screen and (max-width: 840px) {
  #performances h3{
    font-size: 2em;
  }
}
/*-------------------------------------------*/
a:link,
a:visited{
 text-decoration: none;
}
.perf_container h1{
  text-shadow: 2px 2px 4px #000000;
}
.modal{
 background-color: #000;
 width:100vw;
 height: 100vh;
 position: fixed;
 text-align: center;
 top: 0;
 padding-top: 100px;
 left: 0;
 z-index: 10;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.modal__content{
 width: 75%;
 height: 65%;
 background-color: transparent;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 display: none;
 transition: all .5s;
}
#modal:target{
 opacity: 1;
 display: block;
}
#modal:target .modal__content{
 opacity: 1;
 display: block;
}
.modal__content a{
  color: #E62B1E;
}
.modal__close{
 color: #E62B1E;
 font-size: 2em;
 position: absolute;
 top: 4%;
 right: 5%;
}
.modal__paragraph{
  color: #ffffff;
  padding-top: 10%;
 line-height: 1.5em;
}
.modal-open {
color: #E62B1E;
}
.modal-open p{
  text-align: center;
  padding-top: 5px;
}
.perf_container h1 {
  font-size: 2em;
  color: #ffffff;
  padding-top: 400px;
}
@media screen and (max-width: 500px) {
  .modal__paragraph{
   line-height: 1em;
  }
}
/*--------------------------PERFORMANCES2---------------------*/
#performances2 {
  height: 700px;
  background-image: url('../img/dnabckg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*-------------------------------------------*/
a:link,
a:visited{
 text-decoration: none;
}
.perf_container2 h1{
  text-shadow: 2px 2px 4px #000000;
}
.modal2{
  background-color: #000;
  width:100vw;
  height: 100vh;
  position: fixed;
  text-align: center;
  top: 0;
  padding-top: 100px;
  left: 0;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: all .5s;
}
.modal2__content{
 width: 75%;
 height: 65%;
 background-color: transparent;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 display: none;
 transition: all .5s;
}
.modal2__content a{
  color: #E62B1E;
}
#modal2:target{
 opacity: 1;
 display: block;
}
#modal2:target .modal2__content{
 opacity: 1;
 display: block;
}
.modal2__close{
  color: #E62B1E;
  font-size: 2em;
  position: absolute;
  top: 4%;
  right: 5%;
}
.modal2__paragraph{
  color: #ffffff;
  padding-top: 10%;
 line-height: 1.5em;
}
.modal2-open {
color: #E62B1E;
}
.modal2-open p{
  text-align: center;
  padding-top: 5px;
}
.perf_container2 h1 {
  font-size: 2em;
  color: #ffffff;
  padding-top: 400px;
}
@media screen and (max-width: 500px) {
  .modal2__paragraph{
   line-height: 1em;
  }
}
