*{
  margin:0;
  padding:0;
  font-family: Helvetica;
}


/*-----------------------HOME------------------------*/
#part_home {
  height: 400px;
  background-color: #000000;
  background-image: url('../img/part.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#part_home h2 {
  padding-top: 150px;
  text-align: center;
  font-size: 3em;
  color: #ffffff;
}
#part_home h2::after{
  content:'';
  display: flex;
  height: 3px;
  text-align: center;
  width: 100%;
  background-color: #E62B1E;
  margin-top: 5px;
}
#part_home p {
  padding-top: 250px;
  color: #ffffff;
  font-size: 2em;
}
@media screen and (max-width: 840px) {
  #part_home h2 {
      padding-top: 90px;
    font-size: 1.5em;
  }
  #part_home {
    height: 200px;
  }
}
/*-----------------------PARTNERS------------------------*/
#partners {
  height: 440px;
}
h3 {
  background-color: #000000;
  color: #ffffff;
  font-weight: normal;
  font-family: helvetica;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 0.5em;
}
.scroll_h {
 overflow: auto;
 overflow-x: hidden;
 width: 100%;
}

::-webkit-scrollbar {
display: none;
}

.c-my-flooper{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  }
.flex-item-start{
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}
.js-flooper2 {
  padding-top: 10px;
  padding-bottom: 10px;
}
#nem{
  max-height: 2em;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 5px;
}

#asuc{
  max-height: 50px;
  margin-right: 25vw;
}

#santander{
  max-height: 50px;
  margin-right: 20vw;
  margin-top:2px;
}
#cuf {
  padding-top: 10px;
  padding-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 2.5em;
  margin-top: 10px;
}
#jek {
  max-height: 2.5em;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 15px;
}
#sleek {
  max-height: 5em;
  margin-right: 20vw;
}
#sdog {
  max-height: 4em;
  margin-right: 20vw;
}
#singular {
  max-height: 2.5em;
  margin-right: 20vw;
  margin-left: 10vw;
  margin-top: 15px;
}
#shoyce {
  max-height: 2.5em;
  margin-right: 20vw;
  margin-top: 15px;
}
#fruut{
  max-height: 4em;
  margin-right: 20vw;
  margin-top: 10px;
  margin-left: -20px;
}
#illy{
  max-height: 2.5em;
  margin-right: 20vw;
  margin-top: 15px;
  margin-left: -20px;
}
#green{
  max-height: 3em;
  margin-right: 20vw;
  margin-top: 10px;
}
#izidoro{
  max-height: 4.5em;
  margin-top: 3px;
  margin-left: -20px;
}
#diatosta{
  max-height: 3em;
  margin-top: 10px;
  margin-left: 40px;
}
#delta{
  max-height: 3em;
  margin-right: 20vw;
  margin-top: 10px;
  margin-left: 60px;
}
#glood{
  max-height: 3em;
  margin-right: 20vw;
  margin-top: 10px;
}
#zonapro{
  max-height: 2.5em;
  margin-right: 20vw;
  margin-top: 15px;
}
#turismo{
  max-height: 2.5em;
  margin-right: 20vw;
  margin-top: 15px;
}
#uc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 6em;
}
@media (min-width: 768px){


  .c-my-flooper{
    padding-bottom: 80px;
    width: 100%;
  }
  .js-flooper2 {
    padding-bottom: 20px;
  }
  .js-flooper3 {
    padding-bottom: 20px;
  }
  .js-flooper4 {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  #partners {
    height: 840px;
  }

  h3 {
    font-size: 1.2em;
  }

  #nem{
    max-height: 100px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 40px;
  }

  #asuc{
    max-height: 210px;
    margin-right: 10vw;
    margin-left: 10vw;
  }

  #santander{
    max-height: 180px;
    margin-left: 10vw;
  }
  #cuf {
    padding-top: 40px;
    max-height: 100px;
    padding-bottom: 60px;
  }
  #jek {
    max-height: 7em;
    margin-left: 8vw;
    margin-top: 30px;
  }
  #sleek {
    max-height: 11em;
    margin-right: 20vw;
    margin-left: 4vw;
    margin-top: 5px;
  }
  #sdog {
    max-height: 8em;
    margin-left: 4vw;
    margin-top: 25px;
  }
  #singular {
    max-height: 100px;
    margin-top: 20px;
  }
  #shoyce {
    max-height: 100px;
    margin-right: 20vw;
    margin-top: 15px;
    margin-left: -100px;
  }
  #fruut{
    max-height: 140px;
    margin-top: 10px;
    margin-left: -100px;
  }
  #illy{
    max-height: 100px;
    margin-right: 20vw;
    margin-top: 18px;
    margin-left: -100px;
  }
  #green{
    margin-top: -10px;
    max-height: 140px;
    margin-right: 20vw;
    margin-left: -140px;
  }
  #izidoro{
    margin-top: -15px;
    max-height: 200px;
    margin-left: -200px;
  }
  #diatosta{
    max-height: 200px;
    margin-top: 40px;
    margin-left:80px;
  }
  #delta{
    max-height: 100px;
    margin-right: 20vw;
    margin-top:30px;
    margin-left: 150px;
  }
  #glood{
    max-height: 100px;
    margin-right: 20vw;
    margin-top:30px;
    margin-left: -80px;
  }
  #zonapro{
    max-height: 90px;
    margin-right: 20vw;
    margin-top: 35px;
    margin-left: -80px;
  }
  #turismo{
    max-height: 90px;
    margin-right: 20vw;
    margin-top: 35px;
    margin-left: -80px;
  }
  #uc {
    max-height: 200px;
  }
}
