
/*-----------------------HOME------------------------*/
#tedtedx {
  height: 800px;
  background-image: url('../img/videoback.jpg');
  background-position: center;
  background-size: cover;
}
.container_video {
  padding-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.container_video a {
  color: #E62B1E;
  float: right;
  margin-top: -30px;
  margin-right: -15px;
  text-decoration: none;
  font-size: 2em;
}
.video{
 background-color: rgba(0,0,0, 0.6);
 width:100%;
 height: 820px;
 position: absolute;
 top: 0;
 left: 0;
 z-index: 10;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
.videoG {
  padding-left: 10px;
}
.video_content{
 width: 90%;
 height: 560px;
 background-color: #ffffff;
 border-radius: 25px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 padding: 2em;
 opacity: 0;
 visibility: hidden;
 transition: all .5s;
}
#video:target{
 opacity: 1;
 visibility: visible;
}
#video:target .video_content{
 opacity: 1;
 visibility: visible;
}
.video_open{
  padding-top: 10em;
}
.videoM {
  visibility: hidden;
}
.videoP {
  visibility: hidden;
}

@media screen and (max-width: 1150px) {
  .videoG {
    display: none;
  }
  .video_content{
    height: 300px;
  }
  .videoM {
    visibility: inherit;
  }
}
@media screen and (max-width: 840px) {
  #tedtedx {
    height: 400px;
  }
  .videoM {
    display: none;
  }
  .videoP {
    margin-left: -5px;
    visibility: inherit;
  }
  .video_content {
    height: 140px;
    width: 75%;
  }
  .video{
    height: 540px;
    margin-top: 70px;
    padding-top: 60px;
    border-radius: 2px;
  }
  .container_video a {
    font-size: 18px;
  }
}



/*-----------------------COMPARE------------------------*/
#compare {
  height: 540px;
}
.tedbtn {
  background-color: #000000;
}
.tabContainer{
    width: 100%;
    height: 400px;
}
.tabContainer .buttonContainer{
    height: 200px;
}
.tabContainer .buttonContainer button{
    width: 50%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: #ffffff;
    text-align: center;
    padding-top: 80px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}
#compare p {
  padding: 0px 100px 0 100px;
  font-size: 14px;
  font-weight: lighter;
}
#tab_1 p{
  color: #ffffff;
}
#tab_2 p {
  color: #000000;
  padding-top: 60px;
}
#compare a {
  text-decoration: none;
  color: #E62B1E;
}
.mobile {
  display: none;
  font-size: 12px;
  text-align: center;
}
.mobile .m_ted {
  background-color: #000000;
  color: #ffffff;
  height: 400px;
}
.mobile .m_tedx {
  height: 400px;
}
.m_tedx {
  padding-top: 45px;
}
.m_ted{
  padding-top:45px;
}
@media screen and (max-width: 1000px) {
  #compare {
    height: 600px;
  }
  #compare p {
    padding: 0 40px 0 40px;
  }
  .tabContainer {
    height: 470px;
  }
  #tab_2 p {
    padding-top: 60px;
  }
}
@media screen and (max-width: 840px) {
  #tedtedx {
    height: 500px;
  }
  .video {
    height: 430px;
  }
  #compare {
    height: 850px;
  }
  .tabContainer {
    display: none;
  }
  .mobile {
    display: block;
  }
  #compare .m_tedx{
    padding-top:80px;
  }
  #compare p {
    padding-top: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  #compare {
    height: 900px;
  }
    #compare p {
      font-size: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .mobile .m_ted {
      height: 480px;
    }
    #compare .m_tedx{
      padding-top:45px;
    }
    #compare .m_ted{
      padding-top:50px;
    }
}
